:root {
  --main-branding-color: black;
  --secondary-color: #4d4d4d;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 86px;
  padding: 20px;
}
h2 {
  font-size: 48px;
  padding-top: 20px;
}

h1,
h2 {
  color: var(--main-branding-color);
  margin: 0;
  text-align: center;
}
h3 {
  color: var(--secondary-color);
  margin: 0;
  padding-bottom: 40px;
  font-size: 24px;
  opacity: 0.7;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

.about-text {
  margin: 10px;
  display: flex;
}
.about-text p {
  background-color: #f5f2fe;
  margin: 10px;
}
p {
  padding: 20px;
  border-radius: 4px;
  line-height: 1.5;
  text-align: center;
}
.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links {
  text-align: center;
  margin-bottom: 30px;
}

.contact {
  background: #6c63ff;
  box-shadow: var(--box-shadow);
  color: white;
}

.about {
  color: #6c63ff;
  border: 1px solid #6c63ff;
}

#contact {
  color: #6c63ff;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  word-wrap: break-word;
}
